/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

/* Global styles */
body {
  background-color: #f9fafb; /* same as bg-gray-50 */
  color: #1f2937; /* same as text-gray-800 */
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Manrope', sans-serif;
}